*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav{
    width: 100%;
    height: 80px;
    background-color: dodgerblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
.banner{
    width: 80%;
    height: 500px;
    margin: 0px auto;
    background: url(https://img3.akspic.ru/crops/7/3/3/9/7/179337/179337-8k_priroda-priroda-planshet-voda-gidroresursy-3840x2160.jpg)no-repeat center/cover;
}































